span.cm-ltm-locator,
span.cm-ltm-psi { 
	color: #900;
}

span.cm-ltm-encoding {
	color: #666;
}

span.cm-ltm-directive {
	color: #009;
}

span.cm-ltm-string,
span.cm-ltm-occurrence-value {
	color: #080;
}

span.cm-ltm-comment {
	color: #999;
}

span.cm-ltm-scope {
	color: #c60;
}

span.cm-ltm-reification {
	color: #909;
	font-style: italic;
}

span.cm-ltm-assoc,
span.cm-ltm-topic,
span.cm-ltm-occurrence,
span.cm-ltm-directive {
	color: #009;
}
