span.cm-tolog-value {
	color: #708;
}

span.cm-tolog-identifier {
	color: #708;
}

span.cm-tolog-comment {
	color: #A70;
}

span.cm-tolog-string {
	color: #A22;
}

span.cm-tolog-keyword {
	color: #299;
}

span.cm-tolog-variable {
	color: #11B;
}

span.cm-tolog-questionmark {
	color: #00F; 
	font-weight: bold; 
	padding: 0 3px;
}

span.cm-tolog-predicate {
	color: #281;
}

span.cm-tolog-parameter {
	color: #E32;
}
