<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app
          PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
          "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

  <display-name>SDshare feeds</display-name>
  <description>
    Provides SDshare feeds for selected topic maps.
  </description>

  <servlet>
    <servlet-name>Startup</servlet-name>
    <servlet-class>
      net.ontopia.topicmaps.utils.sdshare.StartUpServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

</web-app>
