// ontopia logo red, 10% darker to avoid bright red
$brand-primary: darken(#E42213, 10%);
$ontopia-gray: #B0B4B7;

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$sidebar-width: 250px;
$grid-gutter-width: 30px; // copied from bootstrap
$container-sm:          ((720px + $grid-gutter-width) - $sidebar-width);
$container-md:          ((940px + $grid-gutter-width) - $sidebar-width);
$container-lg:			((1140px + $grid-gutter-width) - $sidebar-width);

// google fonts NotoSans
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

// codemirror
@import "codemirror/ltm";
@import "codemirror/tolog";
@import "codemirror/rest";

html {
	background-color: #fff;
}

body {
	background-color: #fff;
	font-family: 'Noto Sans';
	font-size: 15px;
}

code, kbd, pre, samp {
	font-family: "Fira Code",Menlo,Monaco,Consolas,"Courier New",monospace; 
}

pre {
	font-size: 14px;
}

section {
	line-height: 1.7em;

	@media (min-width: $screen-sm-min) {
		width: 800px;
		margin: 0 auto 0 10em;
	}

	p {
		text-align: justify;
		margin: 0 0 1em;

		.introduction {
			margin: 2em 0;
			font-style: italic;
			font-size: 95%;
		}
	}

	h1 {
		margin: 1.5em 0;
	}

	h2 {
		margin: 2em 0 .5em 0;
	}

	h3, h4, h5, h6 {
		color: $brand-primary;
	}

	h3, h4 {
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		margin-top: 4em;
		padding-bottom: .5em;
		margin-bottom: 1em;
	}

	h5, h6 {
		margin: 2em 0 1em 0;
		font-size: 16px;
	}

	h1, h2, h3, h4, h5, h6 {

		a[id] {
			color: inherit;
			text-decoration: none;

			&:before {
				margin-left: -1.5em;
				width: 1.5em;
				display: inline-block;
				opacity: .5;
				font-family: 'Glyphicons Halflings';
				font-size: 14px;
				color: black;
			}
		}

		&:hover a[id]:before {
			content: "\e144";
		}
	}

	img {
		max-width: 100%;
		padding: .5em;
		border: 1px solid #ccc;
		border-radius: 3px;
		display: block;
		margin: 1em auto;
	}

	blockquote {
		font-size: 100%;
		margin-left: -20px;
		border-color: lighten($brand-primary, 50%);
	}

	.version {
		position: absolute;
		top: 1em;
		right: 1em;
		font-size: 90%;
		color: #999;

		&:before {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 14px;
			width: 32px;
			text-align: right;
			margin-right: 10px;
			content: "\f073";
		}
	}

	dl {
		margin: 0 0 1em;
		dt {
			color: #666;
		}

		dd {
			margin: 0 0 1em 2em;
			text-align: justify;
		}
	}
}

#wrapper {
	width: 100%;

	.navbar-toggle {
		border-color: #ddd;
		position: absolute;
		left: 1em;

		.icon-bar {
			background-color: #888;
		}
	}

	#page-wrapper {
		padding: 0px 15px;
		min-height: 568px;
		background-color: white;

		@media (min-width: $screen-sm-min) {
			position: relative;
			margin: 0 0 0 $sidebar-width;
			// padding: 60px 0;
			padding: 1em 0 4em 0;
			border-left: 1px solid #e7e7e7;
		}

		@media (max-width: $screen-sm-max) {
			> #page {
				padding: 0;
				> .container {
					padding: 0;
				}
			}
		}

		.container {
			@media (min-width: $screen-sm-min) {
				width: $container-sm;
			}
			@media (min-width: $screen-md-min) {
				width: $container-md;
			}
			@media (min-width: $screen-lg-min) {
				width: $container-lg;
			}
		}
	}
}

.sidebar {

	img {
		display: block;
		width: 200px;
		margin: .5em auto;

		@media (min-width: $screen-sm-min) {
			margin: 1em auto 2em auto;
		}
	}

	h3 {
		margin-top: 0;
	}

	li .fa-fw {
		margin-right: .5em;
	}

	.sidebar-nav {

		&.navbar-collapse {
			max-height: initial;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 2em;
		}
	}

	.active {
		color: $brand-primary;
	}

	ul li {
		a {
			border-left-color: #fff;
			transition: all .3s ease-out;
			transition-property: background-color, border-left-color;

			&.active {
				background-color: #eef0ee;
			}
		}

		ul li a {
			padding-left: 4em;
		}
	}

	@media (min-width: $screen-sm-min) {
		ul.nav > li a {
			border-left: 5px solid #fff;
		}
		ul.nav > li a.active {
			border-left-color: #eef0ee;
		}
		ul.nav > li:hover a {
			border-left-color: $brand-primary;
		}
	}

	@media (min-width: $screen-sm-min) {
		z-index: 1;
		position: absolute;
		width: $sidebar-width;
	}
}
