<?xml version="1.0" encoding="iso-8859-1"?>
<!--DOCTYPE article PUBLIC "-//OASIS//DTD DocBook XML V4.1//EN" ""           -->
<article>
  <title>The Ontopia Web Editor Framework</title>
  <subtitle>Configuration Guide</subtitle>
  
  <articleinfo>
  <author>
  <affiliation><orgname>Ontopia</orgname></affiliation>
  </author>
  <pubdate>$Date: 2009/05/22 09:34:39 $</pubdate>
  <releaseinfo>5.0 ($Revision: 1.8 $)</releaseinfo>
  
  <abstract>
  <para>
    This document is a guide to configuring the 
    Ontopia's Web Editor Framework. 
    It describes how to use <filename>actions.xml</filename>
    to make actions available to the JSP pages
    and to specify other characteristics of the forms,
    such as parameters, forwarding behavior and formatting of the
    action elements.
  </para><para>
    Since the Web Editor Framework is an extension of the 
    Navigator Framework it is assumed that you are already 
    familiar with the Navigator Framework. If you are not, 
    you are recommended to start with the Navigator 
    Framework Developer's Guide before continuing with this document.  
  </para><para>
    This document is useful reading either before or after reading
    The Ontopia Web Editor Framework &#x2014; Developer's Guide,
    since it defines the actions, buttons and fields that are used in the
    Developer's Guide. However, both documents are self-contained, and can
    be read individually.
  </para>
  </abstract>
  </articleinfo>
  
  <section>
  <title>Introduction</title>
  
  <para>
    The actions available to Ontopia's Web Editor Framework are
    configured by <filename>actions.xml</filename>, which should be
    located in the <filename>WEB-INF/config</filename>
    directory. The 'action_config' parameter in 'web.xml'
    actually specifies the location; this is just the default.
  </para>
  <para>
    The configuration is divided into five different parts.
    One of them - the actionGroup is the interface from the JSP
    pages to the actions. There may be multiple actionGroups
    with different configurations. Each <![CDATA[<webed:form>]]> tag
    uses one actionGroup, which specifies a set of actions and forward rules.
    These actions can be used by the fields and buttens on that form.
  </para>
  <para>
    The other five parts, some of which are optional,
    all of which can be used at most once,
    contain configuring information to be used by the actionGroups
    or formatting information for the form elements 
    (e.g. the size of an input field  or the alignment of a button).
  </para>
  <para>
    This document describes the different parts of the configuration
    with examples and shows how the configured actions can be used from
    the JSP pages.
  </para>
  
  </section>
  <section>
    <title><![CDATA[<actionConfig>]]> - the root element</title>
    
    <para>
      This is the root element of actions.xml, and contains five sub-elements,
      which handle the different parts of the configuration.
    </para>
    
<literallayout><![CDATA[
  <!ELEMENT actionConfig (classMap, buttonMap?, fieldMap?,
                          globalForwards?, actionGroup+)>
]]></literallayout>
  
    <para>
      The following sections describe the sub-elements of
      <![CDATA[<actionConfig>]]>.
    </para>
  
  </section>  
  <section>
    <title><![CDATA[<classMap>]]></title>
    
    <para>
      Maps shortcut names for actions to the fully qualified Java
      class names of the classes.  The actions can then be referred to
      by their shortcut names within <filename>actions.xml</filename>.
    </para>
  
<literallayout><![CDATA[
    <!ELEMENT classMap (class+)>
      <!ELEMENT class EMPTY>
      <!ATTLIST class shortcut ID    #REQUIRED>
      <!ATTLIST class fullname CDATA #REQUIRED>
]]></literallayout>
    
    <para>
      The <![CDATA[<classMap>]]> element must contain one or more 
      <![CDATA[<class>]]> elements. Each <![CDATA[<class>]]> element maps one
      shortcut name to the fully qualified Java class name of an action class. 
    </para>
  
    <example>
      <title>Example configuration</title>

<literallayout><![CDATA[
  <classMap>
    <class shortcut="Delete"
           fullname="net.ontopia.topicmaps.webed.impl.actions.tmobject.Delete"/>
    <class shortcut="EvaluateLTM"
           fullname="net.ontopia.topicmaps.webed.impl.actions.tmobject.EvaluateLTM"/>
    <class shortcut="AddBasename"
           fullname="net.ontopia.topicmaps.webed.impl.actions.basename.AddBasename"/>
    <class shortcut="SetValue"
           fullname="net.ontopia.topicmaps.webed.impl.actions.basename.SetValue"/>
    <class shortcut="DefaultAction"
           fullname="net.ontopia.topicmaps.webed.impl.actions.DefaultAction"/>
  </classMap>
]]></literallayout>
    </example>
    
    <para>
      This example makes 5 action classes available to the action groups, 
      which in turn can make them available to the JSP pages
      and configure specific forward behavior (within each actionGroup).
      Details of the <![CDATA[<actionGroup>]]> element is given below.
    </para>
    
  </section>
  
  <section>
    <title><![CDATA[<buttonMap>]]></title>
    
    <para>
      Global mapping between image short names and image properties
      like location and size used by action buttons.
    </para>
    
<literallayout><![CDATA[
    <!ELEMENT buttonMap (image+)>
      <!ELEMENT image EMPTY>
      <!ATTLIST image name        ID    #REQUIRED>
      <!ATTLIST image src         CDATA #IMPLIED>
      <!ATTLIST image absolutesrc CDATA #IMPLIED>
      <!ATTLIST image width       CDATA #IMPLIED>
      <!ATTLIST image height      CDATA #IMPLIED>
      <!ATTLIST image border      CDATA #IMPLIED>
      <!ATTLIST image align       CDATA #IMPLIED>
]]></literallayout>
    
    <para>
      The <![CDATA[<buttonMap>]]> element must contain one or more 
      <![CDATA[<image>]]> elements. Each <![CDATA[<image>]]> element maps
      an image short name to an image source and other formatting information,
      i.e. width, height, border and alignment.
    </para>
    
    <para>
      The attributes 'src' and 'absolutesrc' specify the source by a
      relative and an absolute path respectively.
      To avoid confusion, only one of these should be specified.
      If both are specified then the absolute path will be used.
      <remark>This should be turned into a list of all the attributes,
      their meaning, and the rules for using them. Kind of like in the
      tag library reference.</remark>
    </para>
      
    <example>
      <title>Example configuration</title>

<literallayout><![CDATA[
  <buttonMap>
    <image name="delete" border="2" align="right"
           absolutesrc="http://localhost:8080/myapp/images/delete.gif"/>
    <image name="submit" width="50" height="20"
           src="/images/submit.gif"/>
  </buttonMap>
]]></literallayout>
    </example>

    <para>
      This example configuration makes the images
      <filename>delete.gif</filename>
      and <filename>submit.gif</filename> accessible
      from the JSP pages by the short names 'delete' and 'submit'.
      Both files are located in the directory <filename>images</filename>,
      but 'delete' is specified by an absolute path and 'submit' by
      a relative path.
    </para>
    
    <example>
      <title>Example JSP</title>

<literallayout><![CDATA[
      <webed:button action="delete" image="delete-image" params="NAME"/><br>
      <webed:button action="submit" image="submit" params="TOPIC"/><br>
]]></literallayout>
    </example>
    
    <para>
      In this example JSP, the delete button will be aligned to the
      right with a border of width 2.
      The submit button will have width 50 and height 20.
      Some of the formatting may not show up in the internet browser,
      depending on which browser you use.
      This is because different browsers interpret the generated HTML
      differently, e.g. some browsers will not take width and height
      into account (but use the original size of the image).
      The action names 'delete' and 'submit' are defined in the
      <![CDATA[<actionGroup>]]> which will be described below.
    </para>
    
  </section>
  
  <section>
    <title><![CDATA[<fieldMap>]]></title>
    
    <para>
      Global mapping between field type short names and field properties
      such as size and input type.
    </para>
    
<literallayout><![CDATA[
    <!ELEMENT fieldMap (field+)>
      <!ELEMENT field EMPTY>
      <!ATTLIST field name      ID    #REQUIRED>
      <!ATTLIST field type      CDATA #REQUIRED>
      <!ATTLIST field maxlength CDATA #IMPLIED>
      <!ATTLIST field columns   CDATA #IMPLIED>
      <!ATTLIST field rows      CDATA #IMPLIED>
]]></literallayout>

    <para>
      The <![CDATA[<fieldMap>]]> element must contain one or more
      <![CDATA[<field>]]> elements. 
      Each <![CDATA[<field>]]> maps a field type short name to a
      a field type and other formatting information.
      Note that some attributes only apply to certain fields,
      e.g. a textarea can have multiple rows, but a text field can only
      have one row, and so the 'rows' attribute has no effect.
      <remark>Full list needed here also.</remark>
    </para>
  
    <example>
      <title>Example configuration</title>

<literallayout><![CDATA[
  <fieldMap>
    <field name="long"     type="textarea" columns="20" rows="2"/>
    <field name="password" type="password" maxlength="20"/>
  </fieldMap>
]]></literallayout>
    </example>
    
    <para>
      This example configuration makes the field 
      types 'textarea and 'password' available to
      the JSP pages by the short names 'long' and 'password'.
      Fields of type 'long' will show up as 
      textareas of 2 rows by 20 colums.
      Fields of type 'password' will show up as 
      password fields (input typically shown as asterisks ('*') 
      and accept maximum 20 characters.
    </para>
  
    <example>
      <title>Example JSP</title>

<literallayout><![CDATA[
  <webed:field action="set-name" type="long" params="NAME">
    <tolog:out var="NAME"/>
  </webed:field>
  
  <webed:field action="add-basename" type="password" params="TOPIC">
  </webed:field>
]]></literallayout>
    </example>
    
    <para>
      This example in the context of the configuration example above,
      generates two fields, one of type long, i.e. a textarea of 2 rows
      by 20 columns and one of type password, i.e. a password of maximum
      20 characters.
      The actions 'set-name' and 'add-basename' will be defined in the
      <![CDATA[<actionGroup>]]> elements (details below).
    </para>

  </section>
  
  <section>
    <title><![CDATA[<globalForwards>]]></title>
    
    <para>
      Specifies reusable forward elements that should be available to
      all <![CDATA[<actionGroup>]]> elements.
    </para>
    
<literallayout><![CDATA[
    <!ELEMENT globalForwards (forward+)>
      <!ELEMENT forward (reqParam*)>
      <!ATTLIST forward name  ID                    #REQUIRED>
      <!ATTLIST forward path  CDATA                 #REQUIRED>
      <!ATTLIST forward type  (success|failure|all) 'all'>
        <!ELEMENT reqParam EMPTY>
        <!ATTLIST reqParam name  CDATA #REQUIRED>
        <!ATTLIST reqParam value CDATA #IMPLIED>
]]></literallayout>

    <para>
      The <![CDATA[<globalForwards>]]> element must contain one or more
      <![CDATA[<forward>]]> elements. 
      Each <![CDATA[<forward>]]> element maps a forward short name to a
      forward path and (optionally) a number for request parameters.
      The forward path is the path of the next request, which the
      browser should go to after the action has been executed.
      The 'type' attribute determines whether the forward should always
      happen ('all') or only in certain cases (e.g. 'success').
      <remark>List again.</remark>
    </para>
    
    <para>
      The <![CDATA[<reqParam>]]> sub-elements specify which request parameters
      should be included in the forward request.
    </para>

    <example>
      <title>Example configuration</title>

<literallayout><![CDATA[
  <globalForwards>
    <forward name="add-occurrence" path="occurrence.jsp"  type="success">
      <reqParam name="is-new"/>
    </forward>
  </globalForwards>
]]></literallayout>
    </example>

    <para>
      This example configures one different forward element of type success.
      If an action succeeds, it will be forwarded to occurrence.jsp.
      Otherwise it will be forwarded to the path defined in the required
      defaultForward element (details below). 
      An action that uses this forward element will take the request parameter
      'is-new', which can be given on the form.
    </para>
  
  </section>
  
  <section>
    <title><![CDATA[<actionGroup>]]></title>
    
    <para>
      Specifies and configures the actions that should be available within a 
      single <![CDATA[<webed:form>]]> tag in the JSP files. 
      Each <![CDATA[<webed:form>]]> tag must specify the name of exactly one 
      action group, which names and configures the actions available
      within that form.
      There may be multiple actionGroups 
      specifying different configurations for different forms
      and each actionGroup can be used by multiple forms.
    </para>
    
<literallayout><![CDATA[
    <!ELEMENT actionGroup ((inputField | action)*, forward*, forwardRules)>
    <!ATTLIST actionGroup name ID #REQUIRED>
]]></literallayout>

    <para>
      The sub-elements <![CDATA[<inputField>]]> and
      <![CDATA[<action>]]> are triggered from the input fields and
      actions elements (e.g. buttons) on the JSP page.
      The <![CDATA[<forward>]]> elements configure forwarding only 
      applicable to this particular actionGroup
      and the <![CDATA[<forwardRules>]]> element maps the different
      actions to forward elements.
      The <![CDATA[<inputField>]]>, <![CDATA[<action>]]>
      and <![CDATA[<forwardRules>]]> sub-elements will 
      be described in detail in the following sub-sections.
      The <![CDATA[<forward>]]> was described in the
      <![CDATA[<globalForwards>]]> section above.
      <remark>List and define attributes, even if there is only one.</remark>
    </para>

    <section>
      <title><![CDATA[<inputField>]]></title>
      
      <para>
        Makes an action available to the forms as an input field by mapping an
        external name to an internal action shortcut name.
      </para>
      
<literallayout><![CDATA[
      <!ELEMENT inputField EMPTY>
      <!ATTLIST inputField name  CDATA #REQUIRED>
      <!ATTLIST inputField class IDREF #REQUIRED>
]]></literallayout>
    
      <para>
        Each <![CDATA[<inputField>]]> must specify a name and a class, i.e. the
        name by which the input field should be referred to from the forms and
        the shortcut name of the action to be triggered.
        <remark>List!</remark> See XREF! for an example of use.
      </para>
    </section><section>
      <title><![CDATA[<action>]]></title>
      
      <para>
        Makes an action available to the forms by mapping 
        an external name to an internal action shortcut 
        name (defined in <![CDATA[<classMap>]]>).
      </para>
      
<literallayout><![CDATA[
      <!ELEMENT action EMPTY>
      <!ATTLIST action name      NMTOKEN        #REQUIRED>
      <!ATTLIST action class     IDREF          #REQUIRED>
      <!ATTLIST action exclusive (true | false) #IMPLIED>
]]></literallayout>

      <para>
        Each <![CDATA[<action>]]> must specify a name and a class,
        i.e. the name by which the action should be 
        referenced from the forms and the shortcut name
        (as given in the <![CDATA[<classMap>]]> section) 
        of the action to be triggered.
        An action can be configured to be exclusive, in which case
        no other actions will be executed along with it.
        Actions are inclusive (exclusive="false") by default.
        <remark>List! Also note that actions within an actionGroup are
        executed in the order they are given.</remark>
      </para>
    
      <example>
        <title>Example configuration</title>

<literallayout><![CDATA[
    <inputField name="set-name"       class="SetValue"/>
    <action     name="add-occurrence" class="EvaluateLTM" exclusive="true"/>
    <action     name="delete"         class="Delete"/>
    <action     name="submit"         class="DefaultAction"/>
]]></literallayout>
      </example>
    
      <para>
        This example configuration makes the Delete and DefaultAction
        and EvaluateLTM
        action classes acessible to the form by the names
        'delete', 'submit' and 'add-occurrence'.
        'delete' and 'submit' are inclusive. 'add-occurrence' is exclusive.
      </para>
      
      <example>
        <title>Example JSP</title>

<literallayout><![CDATA[
      <webed:field action="set-name" type="long" params="NAME">
        <tolog:out var="NAME"/>
      </webed:field><br>
      <webed:button action="add-occurrence" text="Add Occurrence"
                    params="TOPICMAP OCCURRENCE-LTM"/>
      <webed:button action="submit" image="submit" params="TOPIC"/><br>
]]></literallayout>
      </example>
    
      <para>
        This example generates one input field ('set-name') and two submit
        buttons ('add-occurrence' and 'submit').
        If the contents of the 'set-name' action changes and the 'submit'
        button is clicked, then the 'set-name' action will also be triggered
        and the name change will take effect.
        If, on the other hand, the 'add-occurrence' button is clicked,
        the 'set-name' action will not be triggered, since
        'add-occurrence' is exclusive.
      </para>
      
    </section><section>
      <title><![CDATA[<forwardRules>]]></title>
      
      <para>
        Specifies which forward elements should define the forwarding
        for the different actions.
      </para>
      
<literallayout><![CDATA[
      <!ELEMENT forwardRules (forwardDefault, forwardLocked?, forwardRule*)>

        <!ELEMENT forwardDefault (reqParam*)>
        <!ATTLIST forwardDefault forward IDREF #IMPLIED>
        <!ATTLIST forwardDefault path    CDATA #IMPLIED>
        
        <!ELEMENT forwardLocked EMPTY>
        <!ATTLIST forwardLocked path  CDATA         #REQUIRED>
        
        <!ELEMENT forwardRule EMPTY>
        <!ATTLIST forwardRule action  NMTOKEN #REQUIRED>
        <!ATTLIST forwardRule forward IDREF   #REQUIRED>
]]></literallayout>
    
      <para>
        When an action is executed, a forward element will be selected
        as follows:
        If the <![CDATA[<forwardRules>]]> element of that actionGroup
        contains a <![CDATA[<forwardRule>]]> for that action,
        then the <![CDATA[<forward>]]> will be selected 
        based on that <![CDATA[<forwardRule>]]>.
        Otherwise, the <![CDATA[<forwardDefault>]]> 
        default element will be used.
      </para>
      
      <para>
        Note that <![CDATA[<forward>]]> elements are of type 'all'
        by default (details in the <![CDATA[<forward>]]> section).
        If the <![CDATA[<forward>]]> is instead of type 'success'/'failure'
        then it will only apply to actions that succeed/fail.
        If the relevant <![CDATA[<forward>]]> element is of type
        'success' and the action fails then it will, if possible, first use
        a <![CDATA[<forward>]]> with the same name, but of type 'failure'.
        If no such <![CDATA[<forward>]]> element exists, then the
        <![CDATA[<forwardDefault>]]> will be used.
      </para>
      
      <para>
        The <![CDATA[<forwardDefault>]]> either specifies a forward path
        and a set of request parameters directly or gives reference to
        a <![CDATA[<forward>]]> element that handles the forwarding.
      </para>
      
      <para>
        The <![CDATA[<forwardLocked>]]> element specifies a forward path that
        will be used if the current page tries to access a locked object.
      </para>
      
      <para>
        Each <![CDATA[<forwardRule>]]> element maps an action to a
        forward element.
      </para>
      
      <example>
        <title>Example configuration</title>
<literallayout><![CDATA[
    <forward name="index"    path="index.jsp"></forward>
    <forwardRules>
      <forwardDefault path="default-page.html">
      </forwardDefault>
      <forwardRule action="delete"         forward="index"/>
    </forwardRules>
]]></literallayout>
      </example>
      
      <para>
        In this example the the delete action will be
        forwarded to "index.jsp".
        All other actions will be forwarded to "default-page.html".
        The complete example below will illustrate 
        better how the forwarding works.
      </para>      
      
    </section>
  </section><section>
    <title>Working example</title>
  
    <para>
      The sections above have described how the different parts of
      <filename>actions.xml</filename> work, and have given
      fragmented examples.
      This section will pull the differents parts together into a complete
      example.
    </para>
    
    <example>
      <title>Example configuration</title>

<literallayout><![CDATA[
<actionConfig>
  <!-- Make five different actions available to all the actionGroups. -->
  <classMap>
    <class shortcut="Delete"
           fullname="net.ontopia.topicmaps.webed.impl.actions.tmobject.Delete"/>
    <class shortcut="EvaluateLTM"
           fullname="net.ontopia.topicmaps.webed.impl.actions.tmobject.EvaluateLTM"/>
    <class shortcut="AddBasename"
           fullname="net.ontopia.topicmaps.webed.impl.actions.basename.AddBasename"/>
    <class shortcut="SetValue"
           fullname="net.ontopia.topicmaps.webed.impl.actions.basename.SetValue"/>
    <class shortcut="DefaultAction"
           fullname="net.ontopia.topicmaps.webed.impl.actions.DefaultAction"/>
  </classMap>
  
  <!-- Make two images available to the JSP pages. -->
  <buttonMap>
    <!-- The delete-image with a border of width 2, aligned to the 
         right and given by an abolute path. -->
    <image name="delete-image" border="2" align="right"
           absolutesrc="http://localhost:8080/myapp/images/delete.gif"/>
    <!-- The submit-image of size 20x and given by a relative path. -->
    <image name="submit-image" width="50" height="20"
           src="/images/submit.gif"/>
  </buttonMap>

  <!-- Make two field types available to the JSP pages. -->
  <fieldMap>
    <field name="long"     type="textarea" columns="20" rows="2"/>
    <field name="password" type="password" maxlength="20"/>
  </fieldMap>
  
  <!-- Make two forward elements available to all actionGroups. -->
  <globalForwards>
    <!-- Handles the forwardRule 'add-occurrence' when an action succeeds. -->
    <!-- Forwards a single request parameter. -->
    <forward name="add-occurrence" path="occurrence.jsp"  type="success">
      <reqParam name="is-new"/>
    </forward>
  </globalForwards>

  <!-- Make one actionGroup available to the <webed:form> tags. -->
  <actionGroup name="index">
    <!-- Make actions and input fields available. -->
    <!-- 'add-occurrence' should always run on its own. -->
    <action     name="add-occurrence" class="EvaluateLTM" exclusive="true"/>
    <action     name="new-topic"      class="EvaluateLTM"/>
    <action     name="delete"         class="Delete"/>
    <inputField name="set-name"       class="SetValue"/>
    <action     name="submit"         class="DefaultAction"/>
    <inputField name="add-basename"   class="AddBasename"/>
    
    <forward name="index"    path="index.jsp"></forward>
    <forwardRules>
      <!-- Where to go when no forward path is specified -->
      <forwardDefault path="default-page.html"/>
      <!-- Where to go if failing to access an object because it is locked. -->
      <forwardLocked path="forward-locked.html"/>
      
      <!-- The 'delete' and 'new-topic' actions use local forward elements. -->
      <forwardRule action="delete"         forward="index"/>
      <forwardRule action="new-topic"      forward="index"/>
      
      <!-- 'add-occurrence' uses global forward elements (success/failure). -->
      <forwardRule action="add-occurrence" forward="add-occurrence"/>
    </forwardRules>
  </actionGroup>
</actionConfig>
]]></literallayout>
    </example>
    
    <para>
      The above is a complete working example <filename>actions.xml</filename>.
      Please read the &lt;!-- comments --> between the lines for explanation
      of what the different parts do.
    </para>
    
    <example>
      <title>Example JSP</title>

<literallayout><![CDATA[
<%@ include file="../fragment/common-header.jsp" %>
<tolog:context topicmap="foo.ltm">
  <tolog:set query="topicmap($TOPICMAP)?"/>
  <!-- lock="TOPICMAP" ensures that noone else will modify TOPICMAP -->
  <!-- locking lasts for 60 seconds (may become adjustable later). -->
  <!-- If someone else has already locked TOPICMAP then this page will 
  <!-- automatically redirect to forward-locked.html -->
  <!-- (as specified in actions.xml above) -->
  <webed:form actiongroup="index" lock="TOPICMAP">
    <tolog:if query="topic-name($TOPIC, $NAME) order by $TOPIC, $NAME?">
      
      Topic: <tolog:out var="TOPIC"/><br>
      
      <!-- Create field that changes the topic 'NAME'. -->
      <webed:field action="set-name" type="long" params="NAME">
        <tolog:out var="NAME"/>
      </webed:field><br>
      
      <!-- Create a field that adds a given basename to the "TOPIC". -->
      <!-- Take entry as a password (entered characters shown as asterisks. -->
      <webed:field action="add-basename" type="password" params="TOPIC">
      </webed:field><br>
      
      <!-- Create a button that deletes the topic 'NAME'. -->
      <!-- Use the image that's been configured in actions.xml. -->
      <webed:button action="delete" image="delete-image" params="NAME"/><br>
      
      <!-- Use a hidden input field to set the boolean is-new variable. -->
      <!-- Notice how 'is-new' is forwarded as a request parameter inside
           <globalForwards> in actions.xml. -->
      <input type="hidden" name="is-new" value="true"/>
      
      <!-- Make a button that creates a new topic called 'bar'. -->
      <tolog:set var="TOPIC-LTM">
        [bar]
      </tolog:set>
      <tolog:set var="TOPIC-CREATOR">
        <webed:actionid action="new-topic" params="TOPICMAP TOPIC-LTM"/>
      </tolog:set>
      
      <!-- Create a button that adds an occurrence. -->
      <tolog:set var="OCCURRENCE-LTM">
        {<tolog:id var="TOPIC"/>, foo, [[Occurrence 1]]}
      </tolog:set>
      <webed:button action="add-occurrence" text="Add Occurrence"
                    params="TOPICMAP OCCURRENCE-LTM"/>
      
      <!-- Create a button that submits the form. -->
      <!-- Note that all all the buttons on this form are submit buttons,
           but the other also perform other actions.
           This button submits the form, and no other actions. -->
      <webed:button action="submit" image="submit-image"/><br>
    </tolog:if>
  </webed:form>
</tolog:context>
]]></literallayout>
    </example>

    <para>
      The above is an example JSP webpage that uses the <filename>actions.xml</filename> example configuration above. 
      For explanations, please read the &lt;!-- comments --> between the lines.
    </para>
    
    <example>
      <title>Example internet browser output.</title>
      <graphic fileref="example-form.gif" format="GIF89a"/>
    </example>
    
    <para>
      This example shows the output of the last JSP example as it would be displayed
      in the Mozilla internet browser. Please look at the comments in the Example JSP
      and Example Configuration for implementation details.
    </para>
  </section>

  <section>
    <title>Complete DTD for actions.xml</title>

    <para><remark>Break the lines in the comments for better
    formatting.</remark></para>

<literallayout><![CDATA[
<!-- $Id: config.xml,v 1.8 2009/05/22 09:34:39 geir.gronmo Exp $ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     This is the DTD defining the Action Configuration
     file syntax for Ontopia's Web Editor Framework.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!ELEMENT actionConfig (classMap, buttonMap?, fieldMap?,
                        globalForwards?, globalProperties?, actionGroup+)>

  <!-- 
    The actionConfig tag element must have a classMap then 0/1 buttonMaps then 0/1 fieldMap then 0/1 globalForwards then 0/1 globalProperties then 1/more actionGroups.
  -->  
  
<!-- ...................................................................
     Global Mapping between class short name and fully
     qualified java class path. -->

<!ELEMENT classMap (class+)>
  
  <!ELEMENT class EMPTY>
  <!ATTLIST class shortcut ID    #REQUIRED>
  <!ATTLIST class fullname CDATA #REQUIRED>

  <!--
    The classMap element must have 1/more class-es.
    Each class has a shortname (ID) and a fullname (CDATA), each is required.
  -->
  
<!-- ...................................................................
     Global Mapping between image short name and image properties
     like location and dimension used by action buttons. -->

<!ELEMENT buttonMap (image+)>

  <!ELEMENT image EMPTY>
  <!-- name: under which the image can be retrieved -->
  <!ATTLIST image name     ID    #REQUIRED>
  <!-- src: Relative URL of the image location -->
  <!ATTLIST image src      CDATA #IMPLIED>
  <!ATTLIST image absolutesrc      CDATA #IMPLIED>
  <!-- width: image width in pixels -->
  <!ATTLIST image width    CDATA #IMPLIED>
  <!-- height: image height in pixels -->
  <!ATTLIST image height   CDATA #IMPLIED>
  <!-- border: image border in pixels (default: 0) -->
  <!ATTLIST image border   CDATA #IMPLIED>
  <!-- align: image align mode (default: 'middle') -->
  <!ATTLIST image align    CDATA #IMPLIED>

  <!--
    The buttonMap element must have 1/more image-s.
    Each image has a required ID called 'name' and implied CDATA called src, absolutesrc, width, height, border and align.
  -->

<!-- ...................................................................
     Global Mapping between field short name and field properties
     like type and dimension used by action fields. -->

<!ELEMENT fieldMap (field+)>

  <!ELEMENT field EMPTY>
  <!-- name: under which the field can be retrieved -->
  <!ATTLIST field name      ID    #REQUIRED>
  <!-- type: the type of this input field (text|textarea) -->
  <!ATTLIST field type      CDATA #REQUIRED>
  <!-- maxlength: maxium length of this field (only if rows==1) -->
  <!ATTLIST field maxlength CDATA #IMPLIED>
  <!-- columns: number of field columns -->
  <!ATTLIST field columns   CDATA #IMPLIED>
  <!-- rows: number of field rows (default: 1) -->
  <!ATTLIST field rows      CDATA #IMPLIED>

  <!--
    The fieldMap element must have 1/more fields.
    Each field has a required ID called 'name' and implied CDATA called type, maxlength, columns and rows.
  -->

<!-- ...................................................................
     Global Forward Definitions
     used for an action if not explicitly defined forward exists. -->

<!ELEMENT globalForwards (forward+)>

  <!ELEMENT forward (reqParam*)>
  <!ATTLIST forward name ID #REQUIRED>
  <!-- path: relative URI to forward to -->
  <!ATTLIST forward path CDATA #REQUIRED>
  <!-- type: Action response type this forward page belongs to -->
  <!ATTLIST forward type (success|failure|all) 'all'>
  <!-- frame: the response of the forward should appear -->
  <!ATTLIST forward frame (edit|search) #IMPLIED>
  <!-- nextAction: must be a valid action 'name' entry
       the action name pattern is used as a template which
       is processed by the specified parameter rule. -->
  <!ATTLIST forward nextAction IDREF #IMPLIED>
  <!-- paramRule: Shortcut of parameter rule class (optional). -->
  <!ATTLIST forward paramRule IDREF #IMPLIED>

  <!--
    The globalForwards element must have 1/more forwards.
    Each forward has a required ID called 'name', etc..
  -->

  
    <!ELEMENT reqParam EMPTY>
    <!ATTLIST reqParam name  CDATA #REQUIRED>
    <!-- value: if no fix value is given it will be taken from the request -->
    <!ATTLIST reqParam value CDATA #IMPLIED>

<!-- ...................................................................
     Global Property Definitions for Actions and InputFields
     that are method names and the related values. -->

<!ELEMENT globalProperties (actionType+)>

  <!ELEMENT actionType (actionProp+)>
  <!-- class: must be a valid  class 'shortcut' entry -->
  <!ATTLIST actionType class IDREF #REQUIRED>  
  
    <!ELEMENT actionProp EMPTY>
    <!-- name: correlates to java bean method-name in the specified
               class/interface -->
    <!ATTLIST actionProp name  CDATA #REQUIRED>
    <!-- value: the value with which the method will be invoked -->
    <!ATTLIST actionProp value CDATA #REQUIRED>
    
<!-- ...................................................................
     Action Group for covering the modification actions on topic map
     objects (like for example changing the topic type or removing
     a subject indicator from a topic object).

     Note that actions/inputFields will be executed in the order they
     are given in the file.  -->

<!ELEMENT actionGroup ((inputField | action)*, forward*, forwardRules)>
<!ATTLIST actionGroup name ID #REQUIRED>

  <!ELEMENT inputField EMPTY>
  <!-- name: under which this input element can be used by the tags,
             must be unique inside the same action group -->
  <!ATTLIST inputField name  CDATA #REQUIRED>
  <!-- class: must be a valid class 'shortcut' entry -->
  <!ATTLIST inputField class IDREF #REQUIRED>

  
  <!ELEMENT action EMPTY>
  <!-- name: under which this action can be triggered by forms,
             must be unique inside the same action group -->
  <!ATTLIST action name      NMTOKEN        #REQUIRED>
  <!-- class: must be a valid class 'shortcut' entry -->
  <!ATTLIST action class   IDREF #REQUIRED>
  <!-- exclusive: whether the action is exclusive or not -->
  <!ATTLIST action exclusive (true | false) #IMPLIED>
  
  
  <!ELEMENT forwardRules (forwardDefault, forwardLocked?, forwardRule*)>
  
    <!ELEMENT forwardDefault (reqParam*)>
    <!-- There are two ways of specifying the default forward
         either by referencing to an existing forward definition
         or directly by giving the path by an URI -->
    <!-- forward: must be a valid  forward 'name' entry -->
    <!ATTLIST forwardDefault forward IDREF #IMPLIED>
    <!-- path: relative URI to forward to, because this is a convenience-
         shortcut, so no differentiation between success and failure page
         can be made -->
    <!ATTLIST forwardDefault path CDATA #IMPLIED>
    
    <!ELEMENT forwardLocked EMPTY>
    <!-- path: relative URI to forward to in case a lock is encountered -->
    <!ATTLIST forwardLocked path CDATA #REQUIRED>
    <!-- frame: the response of the forward should appear -->
    <!ATTLIST forwardLocked frame (edit|search) #IMPLIED>

    <!ELEMENT forwardRule EMPTY>
    <!-- action: must be a valid action 'name' entry -->
    <!ATTLIST forwardRule action  NMTOKEN #REQUIRED>
    <!-- forward: must be a valid forward 'name' entry -->
    <!ATTLIST forwardRule forward IDREF #REQUIRED>
]]></literallayout>
  </section>
</article>
