<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <display-name>TMRAP application (using Apache-Axis2)</display-name>

    <!-- TMRAP: begin -->
    <servlet>
      <servlet-name>RAPServlet</servlet-name>
      <servlet-class>
          net.ontopia.topicmaps.utils.tmrap.RAPServlet
      </servlet-class>
    <init-param>
      <param-name>server_name</param-name>
      <param-value>OKS Sample distribution (local)</param-value>
    </init-param>
    <init-param>
      <param-name>edit_uri</param-name>
      <param-value>http://localhost:8080/ontopoly/enter.ted?tm=%tmid%&amp;id=%topicid%</param-value>
    </init-param>
    <init-param>
      <param-name>view_uri</param-name>
      <param-value>http://localhost:8080/omnigator/models/topic_complete.jsp?tm=%tmid%&amp;id=%topicid%</param-value>
    </init-param>
    </servlet>
  
    <servlet-mapping>
      <servlet-name>RAPServlet</servlet-name>
      <url-pattern>/tmrap/*</url-pattern>
    </servlet-mapping>
    <!-- TMRAP: end -->

    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AxisAdminServlet</servlet-name>
        <display-name>Apache-Axis AxisAdmin Servlet (Web Admin)</display-name>
        <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>inc</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
</web-app>
