## $Id: field.vm,v 1.8 2005/11/24 08:22:58 grove Exp $
## Template used by net.ontopia.topicmaps.webed.taglibs.form.FieldTag
## -----------------------------------------------------------------------
#if ($readonly)
  ${value}
#else
  #if ($type == "text")
    ## ---- for a simple input field (one line)
    <input type="text" name="${name}" #condAttribute("id" ${id}) #condAttribute("class" ${class}) value="${value}" #condAttribute("maxlength" ${maxlength}) #condAttribute("size" ${size}) />
  #elseif ($type == "password")
    ## ---- for a password input field (one line)
    <input type="password" name="${name}" #condAttribute("id" ${id}) #condAttribute("class" ${class}) value="${value}" #condAttribute("maxlength" ${maxlength}) #condAttribute("size" ${size}) />
  #elseif ($type == "textarea")
    ## ---- for a multiple line input field
    <textarea name="${name}" #condAttribute("id" ${id}) #condAttribute("class" ${class}) #condAttribute("cols" ${cols}) #condAttribute("rows" ${rows})>${value}</textarea>
  #elseif ($type == "hidden")
    ## ---- for a hidden input field
    <input type="hidden" name="${name}" #condAttribute("id" ${id}) #condAttribute("class" ${class}) value="${value}"/>
  #else
    UNKNOWN FIELD TYPE ($type)
  #end
#end
