<wicket:panel>
<tr class="fieldRow"> 
  <td class="fieldLabel"><span wicket:id="fieldLabel"/>:</td>
  <td class="fieldValuesContainer" wicket:id="fieldValuesContainer">
    <div class="fieldFeedback" wicket:id="feedback"></div>
    <div wicket:id="fieldValuesList"> 
      <div class="fieldValue" wicket:id="fieldValues">
        <span class="fieldValueContent" wicket:id="fieldValue"></span> 
        <span class="fieldValueButtons" wicket:id="fieldValueButtons"></span>
      </div>
    </div>
  </td>
  <td class="fieldInstanceButtons" wicket:id="fieldInstanceButtons">
  </td>
</tr>
</wicket:panel>
