<wicket:panel>
  <div class="fieldsEditorHeader">
    <b><wicket:message key="FieldsEditor.fields"/>:</b>
    <span wicket:id="actions">
    <a href="#" wicket:id="names"><wicket:message key="FieldsEditor.typelink.names"/></a> 
    <a href="#" wicket:id="create-name-field"><img wicket:id="image" /></a> | 
    <a href="#" wicket:id="occurrences"><wicket:message key="FieldsEditor.typelink.occurrences"/></a> 
    <a href="#" wicket:id="create-occurrence-field"><img wicket:id="image" /></a> | 
    <a href="#" wicket:id="associations"><wicket:message key="FieldsEditor.typelink.associations"/></a> 
    <a href="#" wicket:id="create-role-field"><img wicket:id="image" /></a>  | 
    <a href="#" wicket:id="identities"><wicket:message key="FieldsEditor.typelink.identities"/></a>
    </span>
  </div>
  <table class="fieldsEditorExistingTable">
    <!--tr><th>&nbsp;</th><th>Field</th><th>Value type</th><th>Cardinality</th><th>&nbsp;</th></tr-->
    <div wicket:id="existingFields">
      <div wicket:id="field"/>
    </div>
  </table>
  <table class="fieldsEditorAddTable" wicket:id="addFieldsContainer">
    <!--tr><th>&nbsp;</th><th>Field</th><th>Value type</th><th>Cardinality</th><th>&nbsp;</th></tr-->
    <div wicket:id="addFields">
      <div wicket:id="field"/>
    </div>
  </table>
</wicket:panel>		
