<wicket:panel>
<tr class="fieldRow"> 
  <td class="fieldEmbeddedLabel" colspan="2"><span wicket:id="fieldLabel"/>:</td>
  <td class="fieldEmbeddedInstanceButtons" wicket:id="fieldInstanceButtons">
    <a href="#" wicket:id="add"></a>
    <a href="#" wicket:id="find"></a>
    <span wicket:id="create"/>
    <span wicket:id="findModal" class="popupWindow"/>
  </td>
</tr>
<tr class="fieldRow"> 
  <td class="fieldEmbeddedValuesContainer" colspan="3" wicket:id="fieldValuesContainer">
    <div class="fieldFeedback" wicket:id="feedback"></div>
    <div wicket:id="confirm"></div>
    <table class="fieldValuesTable" wicket:id="fieldValuesList">
    <tr class="fieldValue" wicket:id="fieldValues">
      <td class="fieldValueIcon" wicket:id="fieldIconContainer"><img wicket:id="fieldIcon"/></td> 
      <td class="fieldValueContent" wicket:id="fieldValue"></td> 
      <td class="fieldValueButtons" wicket:id="fieldValueButtons"><a wicket:id="lock"><img wicket:id="image" /></a><a href="#" wicket:id="goto"><img wicket:id="image" /></a><br/><a href="#" wicket:id="remove"><img wicket:id="image" /></a></td>
    </tr>
    </table>
  </td>
</tr>
</wicket:panel>
