<wicket:panel>
<tr class="fieldRow">
  <td class="fieldLabel"><span wicket:id="fieldLabel"/>:</td>
  <td class="fieldValuesContainer" wicket:id="fieldValuesContainer">
    <div class="fieldFeedback" wicket:id="feedback"></div>
    <div class="fieldValue" wicket:id="fieldValues">
      <span class="fieldValueContent" wicket:id="fieldValue"></span> 
      <span class="fieldValueButtons" wicket:id="fieldValueButtons"><a href="#" wicket:id="remove"></a></span>
    </div>
  </td>
  <td class="fieldInstanceButtons" wicket:id="fieldInstanceButtons"><a href="#" wicket:id="add"></a></td>
</tr>
</wicket:panel>
