<wicket:panel>
<div id="searchFieldContainer">       
  <input wicket:id="searchField" type="text" size="8" value=""/>
  <input wicket:id="searchButton" type="button" name="Find" value="Find"/> 
</div> 

<div wicket:id="searchResultContainer">
  <table id="searchResult">
    <tr wicket:id="searchResult"><td><span wicket:id="topic"></span></td><td><span wicket:id="topicType"></span></td></tr>
  </table>
</div>
<div wicket:id="unsuccessfulSearchContainer">
  <span wicket:id="message" />
</div>
</wicket:panel>
