<wicket:panel>
<div wicket:id="treeContainer">
	<div wicket:id="menuTop"><span wicket:id="expandTop"><a class="treeLink" wicket:id="expandAllTop"><wicket:message key="TreePanel.expand.all"/></a>&nbsp;&nbsp;</span>
	<span wicket:id="collapseTop"><a class="treeLink" wicket:id="collapseAllTop"><wicket:message key="TreePanel.collapse.all"/></a></span></div>
			
	<div wicket:id="tree" class="ontopoly-tree" />

	<div wicket:id="menuBottom"><span wicket:id="expandBottom"><a class="treeLink" wicket:id="expandAllBottom"><wicket:message key="TreePanel.expand.all"/></a>&nbsp;&nbsp;</span>
	<span wicket:id="collapseBottom"><a class="treeLink" wicket:id="collapseAllBottom"><wicket:message key="TreePanel.collapse.all"/></a></span></div>
</div>	
</wicket:panel>