<?xml version="1.0" encoding="iso-8859-1"?>
<!--DOCTYPE article PUBLIC "-//OASIS//DTD DocBook XML V4.1//EN" ""-->
<article>
<title>The Ontopia Navigator Framework</title>
<subtitle>Configuration Guide</subtitle>

<articleinfo>
<author>
<affiliation><orgname>Ontopia</orgname></affiliation>
</author>
<pubdate>2010-06-09</pubdate>
<releaseinfo>5.1</releaseinfo>

<abstract>
<para>
This document is a guide to configuring the Ontopia Navigator
Framework. The Navigator Framework offers a large number of
configuration options, and this document explains where they can be
found and what they do. By looking in the actual configuration files
you can find additional advanced configuration options not documented
here.
</para>
</abstract>
</articleinfo>

<!-- INTRODUCTION ========================================================== -->
<section id="sect-introduction">
<title>Introduction</title>

<para>
The only configuration you must have in order for the framework to
function is a <filename>tm-sources.xml</filename> file, which tells
the framework where to find the topic maps. (How the
<filename>tm-sources.xml</filename> file works is explained in <xref
linkend="sect-sources-xml"/>.)
</para>

<para>
The default is that the <filename>tm-sources.xml</filename> file is
loaded from the classpath. So for this to work, all you need to do is
to put such a file on the classpath somewhere. On Tomcat, a good
location is in <filename>apache-tomcat/common/classes</filename>.
</para>

<para>
If you just want to get the framework running you can stop here,
because this is all you need for that. The rest of this document
explains alternative approaches for cases where you want to control
the setup more.
</para>
</section>

<!-- TM-SOURCES.XML ======================================================== -->
<section id="sect-sources-xml">
<title>tm-sources.xml</title>

<para>
The Navigator Framework uses this file to find topic maps and enter
them into the topic map repository. The file basically contains a
collection of sources, where each source can produce references to
topic maps. The next sections describe different types of sources that
can be configured in the file.
</para>

<section id="sect-path-tm-sources">
<title>The path sources</title>

<para>
These sources look in a specific directory of the file system for
files with a particular suffix. Those found will be made available to
the Navigator Framework, which may then choose to load them. Each
source class expects files with a different syntax.
</para>


<para>
Below is shown an example configuration element for the XTM path
source. The <parameter>path</parameter> parameter tells the source
what directory to look in. The <symbol>${CWD}</symbol> is a variable
replaced by the path of the directory where the
<filename>tm-sources.xml</filename> file was found. The
<parameter>suffix</parameter> parameter tells the source what suffixes
to look for on files.
</para>

<example>
<title>Example configuration</title>

<literallayout format="linespecific" class="normal">
<![CDATA[
    <source class="net.ontopia.topicmaps.xml.XTMPathTopicMapSource">
      <param name="path" value="${CWD}/../xml"/>
      <param name="suffix" value=".xtm"/>
    </source>
]]></literallayout>
</example>

<para>
The full list of path source classes is:
</para>

<itemizedlist>
<listitem>
<formalpara>
<title>net.ontopia.topicmaps.xml.XTMPathTopicMapSource</title>
<para>This source reads XTM 1.0 and 2.0 files.</para>
</formalpara>
</listitem>

<listitem>
<formalpara>
<title>net.ontopia.topicmaps.utils.ltm.LTMPathTopicMapSource</title>
<para>This source reads LTM files.</para>
</formalpara>
</listitem>

<listitem>
<formalpara>
<title>net.ontopia.topicmaps.xml.TMXMLPathTopicMapSource</title>
<para>This source reads <ulink
url="http://www.ontopia.net/topicmaps/tmxml.html">TM/XML</ulink>
files.</para>
</formalpara>
</listitem>

<listitem>
<formalpara>
<title>net.ontopia.topicmaps.utils.ltm.RDFPathTopicMapSource</title>
<para>This source reads RDF files in the RDF/XML syntax, but can be
adjusted to also read RDF files in other syntaxes.</para>
</formalpara>
</listitem>
</itemizedlist>

<para>
There is also a larger set of parameters to these sources than just
the <symbol>path</symbol> and <symbol>suffix</symbol> ones. Below is a
complete list of the parameters, together with an overview over which
sources support which parameters.
</para>

<table>
<title>Source parameters</title>
<tgroup cols="4">
<thead>
<row>
  <entry>Parameter</entry>
  <entry>Values</entry>
  <entry>Purpose</entry>
  <entry>Sources</entry>
</row>
</thead>

<tbody>
<row>
  <entry>path</entry>
  <entry>Path</entry>
  <entry>Path to the directory where the source will look for topic
  map files. The token <symbol>${CWD}</symbol> can be used to refer to
  the directory of the source file to specify relative paths.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>suffix</entry>
  <entry>String</entry>
  <entry>The file name extension of files in the <parameter>path</parameter>
  directory which the source will make topic maps from.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>maintainFulltextIndexes</entry>
  <entry>true/false</entry>
  <entry>If true a full-text index for the topic map will be created
  and automatically kept up to date with changes in the topic map.
  Setting this to true for sources containing Ontopoly topic maps is
  highly recommended.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>indexDirectory</entry>
  <entry>Path</entry>
  <entry>Path to the directory where the source will create the
  full-text index for topic maps from this source. The token
  <symbol>${CWD}</symbol> can be used to refer to the directory of the
  source file to specify relative paths. If not specified, the index
  directory defaults to the current directory of the Java
  process.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>maintainFulltextIndexes</entry>
  <entry>true/false</entry>
  <entry>If true a full-text index for the topic map will be created
  and automatically kept up to date with changes in the topic map.
  Setting this to true for Ontopoly topic maps is highly
  recommended.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>title</entry>
  <entry>String</entry>
  <entry>The name of the source, to be displayed in the drop-down list
  on the Ontopoly start screen where the user is asked to specify
  which source to create the new topic map in. (This list is only
  displayed if more than one source has
  <parameter>supportsCreate</parameter> set to true.)</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>id</entry>
  <entry>String</entry>
  <entry>Unique identifier for this source within the repository. Used
  by the Ontopoly user interface. If an ID is needed, and none is set
  explicitly, the source will generate one automatically.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>duplicateSuppression</entry>
  <entry>true/false</entry>
  <entry>If 'true' will cause duplicate information to be removed from
  the topic map once it has finished loading.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>followTopicRefs</entry>
  <entry>true/false</entry>
  <entry>The default is true, which means that
  <symbol>topicRef</symbol> elements pointing to external files
  will cause those files to be loaded and merged in. If set to false
  no action is taken.</entry>
  <entry>xtm</entry>
</row>

<row>
  <entry>validation</entry>
  <entry>true/false</entry>
  <entry>If 'true' any XTM files loaded through this source will be
  validated against the XTM 1.0 DTD.</entry>
  <entry>xtm</entry>
</row>

<row>
  <entry>mappingFile</entry>
  <entry>Path</entry>
  <entry>References an RDF file which contains the RDF mapping
  statements to be used when loading RDF files with this source. The
  <symbol>${CWD}</symbol> token can be used here.</entry>
  <entry>rdf</entry>
</row>

<row>
  <entry>supportsCreate</entry>
  <entry>true/false</entry>
  <entry>Sets whether or not the source allows new topic maps to be
  created within the source. This is used when creating new topic maps
  in Ontopoly.</entry>
  <entry>xtm tmxml</entry>
</row>

<row>
  <entry>supportsDelete</entry>
  <entry>true/false</entry>
  <entry>Sets whether or not the source allows topic maps coming from
  the source to be deleted. This is used when deleting topic maps in
  Ontopoly.</entry>
  <entry>xtm ltm rdf tmxml</entry>
</row>

<row>
  <entry>syntax</entry>
  <entry>"RDF/XML"/"N3"/"N-TRIPLE"</entry>
  <entry>The name of the RDF syntax to assume RDF files loaded with
  this source are written in. If not specified defaults to RDF/XML.</entry>
  <entry>rdf</entry>
</row>

<row>
  <entry>generateNames</entry>
  <entry>true/false</entry>
  <entry>If "true" the RDF source will generate names for topics in
  the topic map which have no names. The names will be based on the
  URIs of the topics in the original RDF file.</entry>
  <entry>rdf</entry>
</row>

<row>
  <entry>lenient</entry>
  <entry>true/false</entry>
  <entry>If "true" the RDF source allow errors in the RDF mapping that
  would be reported if the value were "false".</entry>
  <entry>rdf</entry>
</row>
</tbody>
</tgroup>
</table>
</section>

<section>
<title>The RDBMSTopicMapSource</title>

<para>
If you have the RDBMS Database Backend product you can use this class
to make the Navigator Framework find topic maps in your relational database.
This source understands these parameters:
</para>

<variablelist>
<varlistentry>
<term>propertyFile</term>
<listitem>
<para>This is the filename of the property file containing the RDBMS
backend configuration settings. This file is documented in
<citetitle>The RDBMS Backend Connector: Installation Guide</citetitle>.
</para>
</listitem>
</varlistentry>
<varlistentry>
<term>baseAddress</term>
<listitem>
<para>This property overrides the base address of the topic map. This
property must be a URI and the notation is assumed to be 'URI'. See
the API documentation for
<symbol>TopicMapStoreIF.getBaseAddress()</symbol> for more
information.
</para>
</listitem>
</varlistentry>
</variablelist>

<para>
Below is shown an example configuration element.
</para>

<example>
<title>Example configuration</title>

<literallayout format="linespecific" class="normal">
<![CDATA[
    <source class="net.ontopia.topicmaps.impl.rdbms.RDBMSTopicMapSource">
      <param name="propertyFile" value="/usr/local/ontopia/jdbc.prop"/>
      <param name="baseAddress" value="http://www.ontopia.net/topicmaps/foo.ltm"/>
    </source>
]]>
</literallayout>
</example>
</section>

<section>
<title>The RDBMSSingleTopicMapSource</title>

<para>
If you have the RDBMS Database Backend product you can use this class
to make the Navigator Framework find an individual topic map in your relational
database. This source understands these parameters:
</para>

<variablelist>
<varlistentry>
<term>topicMapId</term>
<listitem>
<para>This is the id of the topic map as it is stored in the
relational database. The id must be a number.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>title</term>
<listitem>
<para>This is the title of the topic map. The title will be used in
the Omnigator unless the topic map is reified and assigned a
name.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>referenceId</term>
<listitem>
<para>This property specifies the id that you can retrieve the topic
map by in your navigator application.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>propertyFile</term>
<listitem>
<para>This is the filename of the property file containing the RDBMS
backend configuration settings. This file is documented in
<citetitle>The RDBMS Backend Connector: Installation Guide</citetitle>.
</para>
</listitem>
</varlistentry>
<varlistentry>
<term>baseAddress</term>
<listitem>
<para>This property overrides the base address of the topic map. This
property must be a URI and the notation is assumed to be 'URI'. See
the API documentation for
<symbol>TopicMapStoreIF.getBaseAddress()</symbol> for more
information.
</para>
</listitem>
</varlistentry>
</variablelist>

<para>
Below is shown an example configuration element.
</para>

<example>
<title>Example configuration</title>

<literallayout format="linespecific" class="normal">
<![CDATA[
    <source class="net.ontopia.topicmaps.impl.rdbms.RDBMSSingleTopicMapSource">
      <param name="topicMapId" value="5001"/>
      <param name="title" value="The Foo Topic Map"/>
      <param name="referenceId" value="foo"/>
      <param name="propertyFile" value="/usr/local/ontopia/jdbc.prop"/>
      <param name="baseAddress" value="http://www.ontopia.net/topicmaps/foo.ltm"/>
    </source>
]]>
</literallayout>
</example>
</section>

<section id="sect-pattern-source">
<title>RDBMSPatternSingleTopicMapSource</title>

<para>A source producing a single topic map with a defined reference
ID (Omnigator ID) by searching the RDBMS for a matching topic map. If
multiple topic maps match the given search pattern the one with the
highest ID is used. This source is useful when you have a topic map in
the RDBMS which is frequently deleted and re-imported. You can then
use this source to avoid having to change
<filename>tm-sources.xml</filename> every time the topic map is
reimported.</para>

<para>These are the parameters supported by the source:</para>

<variablelist>
<varlistentry>
<term>id</term>
<listitem>
<para>The ID of the source. Must not be the same as any other source
ID in the repository, but can otherwise be anything at all.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>referenceId</term>
<listitem>
<para>The Omnigator ID of the topic map produced by the source. This
is the ID used in your code to refer to the topic map.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>propertyFile</term>
<listitem>
<para>The RDBMS properties file.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>match</term>
<listitem>
<para>Which field in the database to match. It is best to set this to
<symbol>title</symbol>.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>pattern</term>
<listitem>
<para>The value to search for.</para>
</listitem>
</varlistentry>
</variablelist>

<para>Below is an example configuration for this source:</para>

<literallayout><![CDATA[
<source class="net.ontopia.topicmaps.impl.rdbms.RDBMSPatternSingleTopicMapSource">
  <param name="id" value="pattern"/>
  <param name="referenceId" value="mytopicmap.xtm"/>
  <param name="propertyFile" value="rdbms.properties"/>
  <param name="match" value="title"/>
  <param name="pattern" value="mytopicmap.xtm"/>
</source>]]>
</literallayout>

<para>If, when importing topic maps from file, using the following
command will ensure that the title of the topic map is set correctly,
so that the source as configured above will pick it up.</para>

<literallayout>
java net.ontopia.topicmaps.cmdlineutils.RDBMSImport \
  --title mytopicmap.xtm \
  rdbms.properties whateverfile.xtm
</literallayout>
</section>

<section>
<title>The URLTopicMapSource</title>

<para>
This source will read a single topic map from a given URL rather than
from the local file system. It can be used to get a topic map from a
remote web site, for example. It supports exactly the same parameters
as the XTM topic map source, but adds a few extra parameters. Below is
an example of how to use this source.
</para>

<example>
<title>Example configuration</title>

<literallayout><![CDATA[
    <source class="net.ontopia.topicmaps.entry.URLTopicMapSource">
      <param name="title" value="Free XML Tools"/>
      <param name="referenceId" value="xmltools"/>
      <param name="url" value="http://www.garshol.priv.no/download/xmltools/xmltools-tm.xml"/>
      <param name="syntax" value="XTM"/>
    </source>
]]></literallayout>
</example>

<para>
This example would load the Free XML Tools topic map from the <ulink
url="http://www.garshol.priv.no/download/xmltools/">Free XML Tools web
site</ulink>. Note the required <symbol>syntax</symbol> parameter,
which tells the source what syntax to expect. Possible values for this
parameter are XTM, LTM, HyTM, RDF, RDF/XML, N3, and N-TRIPLE. The
reference id is set to 'xmltools', so you can retrieve the topic map
in your navigator application using this id.
</para>
</section>

<section>
<title>Relationship with the API</title>

<para>
This section explains how the <filename>tm-sources.xml</filename> file
corresponds to the API. Basically, the file contains entries that are
used to create <interfacename>TopicMapSourceIF</interfacename> objects
(see the <symbol>entry</symbol> package javadoc), which can find topic
maps by various means and make them available to the Navigator
Framework.
</para>

<para>
In this file, each <symbol>source</symbol> element creates an instance
of the class named in its <symbol>class</symbol> attribute. The class
must implement the <interfacename>TopicMapSourceIF</interfacename>
interface. The <symbol>source</symbol> elements contain
<symbol>param</symbol> elements, which give configuration information
to the source objects using Java bean introspection.
</para>

<para>
The advantage of this approach is that with this configuration file
one can easily make the navigator find topic maps in the file system,
in a database, or by any other imaginable means. Each section below
documents some <interfacename>TopicMapSourceIF</interfacename>
implementations.
</para>

<para>
Note that if you wish to use this functionality in your own
applications you can use the
<classname>net.ontopia.topicmaps.entry.XMLConfigSource</classname>
class.
</para>
</section>
</section>

<!-- ============================================================ -->
<section id="sect-log4j">
<title>Log4j logging</title>

<para>
Ontopia uses <ulink
url="http://jakarta.apache.org/log4j/docs/manual.html">log4j</ulink>
for its logging. You can also find a little more information on log4j
and how Ontopia uses it in the <citetitle><ulink
url="../devguide.html">The Ontopia Topic Maps Engine - Developer's
Guide</ulink></citetitle>. If you want to configure the log4j logging
in Navigator Framework applications, just put a
<filename>log4j.properties</filename> file on the classpath, and
Ontopia will automatically pick it up.
</para>
</section>

<!-- ============================================================ -->
<section id="sect-data-sharing">
<title>Sharing topic maps</title>

<para>
There are three main ways of connecting an application with a
repository of topic maps created by a
<filename>tm-sources.xml</filename> file:
</para>

<itemizedlist>
  <listitem>
    <para>The default approach, described in
    <xref linkend="sect-introduction"/>.</para>
  </listitem>

  <listitem>
    <para>Using JNDI. This requires quite a bit of configuration, and
    is usually quite painful. We do not recommend this approach, and
    it is only supported for historical reasons. It is documented in
    <xref linkend="sect-jndi"/>.
    </para>
  </listitem>

  <listitem>
    <para>Using the <symbol>source_config</symbol> parameter, which
    refers directly to the <filename>tm-sources.xml</filename> file,
    and makes the application use its own repository of topic maps.
    (Described in <xref linkend="sect-web-xml"/>.)
    </para>
  </listitem>
</itemizedlist>

<para>
In general, we strongly recommend using the default approach. If you
want to use more than one <filename>tm-sources.xml</filename> file,
give the file a different name, or point to it directly, this is all
possible. In the standard <filename>web.xml</filename> configuration
file you can specify the
<parameter>topicmaps_repository_id</parameter> parameter. This
parameter references the <filename>tm-sources.xml</filename> file to
be used in one of two ways:
</para>

<itemizedlist>
  <listitem>
    <para>Using a file URL in the normal way, as in
    <filename>file:/Users/larsga/config/tm-sources.xml</filename>.
    This will cause that particular file to be loaded. All
    applications which reference the same file will share a repository
    of topic maps.</para>
  </listitem>

  <listitem>
    <para>Using a classpath URL, as in
    <filename>classpath:tm-sources.xml</filename>, which is the
    default setting. This causes a file named
    <filename>tm-sources.xml</filename> to be loaded from the
    classpath. All applications which use the same reference will
    share a repository of topic maps.</para>
  </listitem>
</itemizedlist>

<section id="sect-jndi">
<title>Sharing topic maps with JNDI</title>

<note>
  <para>This approach is obsolete, and we do not recommend that you
  use it. The default approach is much better.</para>
</note>

<para>
In order to use JNDI your web server must support JNDI and be
configured to use it. How this is done is server-dependent.  Any
number of named shared topic map repositories can be set up, and each
web application can choose whether to use its own repository or to use
a named shared repository.
</para>

<para>
To share topic maps between applications there are two steps to be
performed:
</para>

<orderedlist>
  <listitem>
    <para>Configure the web server to make set up the shared
    repository and make it available via JNDI. Note that all this does
    is enable the repository; it will not be used before the
    configurations of individual applications are changed.</para>
  </listitem>

  <listitem>
    <para>Configure each web application you want to use the shared
    repository to use the repository instead of setting up its own.
    It's possible to have three applications in the same server where
    two use the shared repository and one does not, so each
    application must be configured separately.</para>
  </listitem>
</orderedlist>

<para>
The two sections below describe how to perform the two steps.
</para>

<section>
<title>Setting up one or more shared repositories</title>

<para>
This section describes how to set up a shared repository as a JNDI
resource.
</para>

<para>
In Tomcat, shared repositories are set up by adding the following to
the <filename>server.xml</filename> file, inside the
<symbol>Host</symbol> element.
</para>

<para><emphasis>Tomcat 5.0.x:</emphasis></para>

<literallayout><![CDATA[
    <DefaultContext override="true">

      <Resource name="OmnigatorRegistry" auth="Container"
                type="net.ontopia.topicmaps.entry.SharedStoreRegistry"/>
 
      <ResourceParams name="OmnigatorRegistry">
        <parameter>
          <name>factory</name>
          <value>org.apache.naming.factory.BeanFactory</value>
        </parameter>
        <parameter>
          <name>registryName</name>
          <value>OmnigatorRegistry</value>
        </parameter>
      </ResourceParams>

    </DefaultContext>
]]></literallayout>

<para><emphasis>Tomcat 5.5.x:</emphasis></para>

<literallayout><![CDATA[
  <GlobalNamingResources>
    ...
    <Resource name="OmnigatorRegistry" auth="Container"
              type="net.ontopia.topicmaps.entry.SharedStoreRegistry"
              factory="org.apache.naming.factory.BeanFactory" />

  </GlobalNamingResources>
]]></literallayout>

<para>
The name given to the resources in this example is
<emphasis>OmnigatorRegistry</emphasis>. This name is the name used to
refer to the shared repository.
</para>

<para>
The shared repository will be configured by reading
<filename>tm-sources.xml</filename> from the CLASSPATH as visible to
the application server internals. Be aware that there usually are
several locations on which one can put resources to make them visible
for the application servers' class loaders. In Tomcat one should
normally put the <filename>tm-sources.xml</filename> file in the
<filename>common/classes</filename> directory. In most situations one
would put the file in the same class loader context as the ontopia.jar
file.
</para>

<para>
You can make the shared repository read its configuration from another
file by specifying the <symbol>sourceLocation</symbol> parameter.
</para>

<para><emphasis>Tomcat 5.0.x:</emphasis></para>

<literallayout><![CDATA[
      <ResourceParams name="OmnigatorRegistry">
        ...
        <parameter>
          <name>sourceLocation</name>
          <value>/tmp/tm-sources.xml</value>
        </parameter>
      </ResourceParams>
]]></literallayout>

<para><emphasis>Tomcat 5.5.x:</emphasis></para>

<literallayout><![CDATA[
  <GlobalNamingResources>
    ...
    <Resource name="OmnigatorRegistry" auth="Container"
              type="net.ontopia.topicmaps.entry.SharedStoreRegistry"
              factory="org.apache.naming.factory.BeanFactory" 
              sourceLocation="/tmp/tm-sources.xml" />

  </GlobalNamingResources>
]]></literallayout>

<para>
Alternatively you can tell the SharedStoreRegistry resource what the
resource name of the source configuration file to load from the
CLASSPATH is. This can be done by specifying the
<symbol>resourceName</symbol> parameter. The default value is
<symbol>tm-sources.xml</symbol>. If you would like to set up multiple
shared repositories where more than one of them is to read their
source configuration from the CLASSPATH then the
<symbol>resourceName</symbol> parameter will have to be given for all
except one of them.
</para>

<para>Here is an example of how you can set up two shared repositories
that both loads their source configuration from the CLASSPATH:</para>

<para><emphasis>Tomcat 5.0.x:</emphasis></para>

<literallayout><![CDATA[
      <ResourceParams name="MyRegistry1">
        ...
        <parameter>
          <name>resourceName</name>
          <value>tm-sources1.xml</value>
        </parameter>
      </ResourceParams>

      <ResourceParams name="MyRegistry2">
        ...
        <parameter>
          <name>resourceName</name>
          <value>tm-sources2.xml</value>
        </parameter>
      </ResourceParams>
]]></literallayout>

<para><emphasis>Tomcat 5.5.x:</emphasis></para>

<literallayout><![CDATA[
  <GlobalNamingResources>

    <Resource name="MyRepository1" auth="Container"
              type="net.ontopia.topicmaps.entry.SharedStoreRegistry"
              factory="org.apache.naming.factory.BeanFactory" 
              resourceName="tm-sources1.xml" />

    <Resource name="MyRepository2" auth="Container"
              type="net.ontopia.topicmaps.entry.SharedStoreRegistry"
              factory="org.apache.naming.factory.BeanFactory" 
              resourceName="tm-sources2.xml" />

  </GlobalNamingResources>
]]></literallayout>

<para>With <emphasis>Tomcat 5.5.x</emphasis> one also has to relate
the global naming source with individual web applications. This is how
it has been set up for the Omnigator web application:</para>

<literallayout><![CDATA[
  <Context path="/omnigator">
    <ResourceLink name="OmnigatorRegistry"
              global="OmnigatorRegistry"
              type="net.ontopia.topicmaps.entry.SharedStoreRegistry"/>
  </Context>
]]></literallayout>

<para>The <symbol>&lt;Context></symbol> elements can be added just
right before the <symbol>&lt;/Host></symbol> end-tag. You will need to
add one <symbol>&lt;Context></symbol> element per web
application. Also make sure that the <symbol>path</symbol> attribute
point to the correct web application.</para>

<para>
Note that any number of shared repositories can be specified. If you
set up more than a single shared repository make sure that you give
them unique resource names and unique 'registryName' parameters. You
would also have to make sure that they load their configuration from
different locations. See the description of the
<symbol>sourceLocation</symbol> parameter above.
</para>

<para>
Setting up a shared repository in the <ulink 
url="http://www.caucho.com/products/resin/">Resin</ulink> application
server is done by adding the following to the
<filename>resin.conf</filename> file, inside the <symbol>host</symbol>
element:
</para>

<literallayout><![CDATA[
  <resource-ref>
    <res-ref-name>OmnigatorRegistry</res-ref-name>
    <res-type>net.ontopia.topicmaps.entry.SharedStoreRegistry</res-type>
  </resource-ref>
]]></literallayout>

</section>

<section>
<title>Making an application use the shared repository</title>

<para>
In order to make a web application use a shared repository, edit the
<filename>web.xml</filename> file of that application to remove the
<parameter>source_config</parameter> parameter, and replace it by the
following: 
</para>

<literallayout><![CDATA[
  <context-param>
    <param-name>jndi_repository</param-name>    
    <param-value>OmnigatorRegistry</param-value>
  </context-param>
]]></literallayout>

<para>
The value of the parameter is the JNDI resource name of the shared
repository, as given in the
<filename>server.xml</filename>/<filename>resin.conf</filename> file.
</para>
</section>
</section>
</section>

<!-- WEB.XML ============================================================== -->
<section id="sect-web-xml">
<title>web.xml</title>

<para>
This file is part of the Java Servlet system and contains information
used by the servlet system, as well as simple name/value configuration
properties for individual servlet applications.
</para>

<para>
The following configuration settings are used by the Navigator Framework:
</para>

<variablelist>
<varlistentry>
<term>source_config</term>
<listitem>
<para>Tells the navigator where to find the configuration file used to
find out how to locate topic maps. See <xref
linkend="sect-sources-xml"/>.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>app_config</term>
<listitem>
<para>Tells the navigator where to find the application configuration
file, which is documented in <xref linkend="sect-application-xml"/>.
The default value is <filename>WEB-INF/config/application.xml</filename>.
</para>
</listitem>
</varlistentry>

<!--varlistentry>
<term>log4j_config</term>
<listitem>
<para>Tells the navigator where to find the file containing the
log4j file; see <xref linkend="sect-log4j"/>.
</para></listitem>
</varlistentry-->

<varlistentry>
<term>plugins_rootdir</term>
<listitem>
<para>Tells the navigator in what directory the plug-ins are located,
if you want to change it from the default.
</para></listitem>
</varlistentry>

<varlistentry>
<term>topicmaps_repository_id</term>
<listitem>
<para>References the topic maps repository to be used, as described
in <xref linkend="sect-data-sharing"/>.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>jndi_repository</term>
<listitem>
<para>This setting is used instead of
<parameter>source_config</parameter> when topic maps are shared across
web applications with JNDI (see <xref linkend="sect-jndi"/>). This
setting is obsolete.</para>
</listitem>
</varlistentry>
</variablelist>
</section>

<section id="sect-application-xml">
<title>application.xml</title>

<para>
This configuration file stores the configuration for a Navigator web
application, and by modifying this file it is possible to control many
aspects of how the application behaves.
</para>

<note>
  <para>Note that this file is obsolete. You do not need it.</para>
</note>

<section>
<title>Autoloads</title>

<para>
The Navigator uses the information in the source.xml file (<xref
linkend="sect-sources-xml"/>) to populate the topic map registry with
topic map references. It does not load any of these topic maps before
the user requests it through the manage page, however. The autoloads
section can be used to request that some topic maps be loaded when the
Navigator starts up, without the user having to explicitly request it.
</para>

<para>
Below is shown the default autoloads section:
</para>

<example>
<title>Autoloads</title>

<literallayout>
<![CDATA[
  <autoloads>
    <autoload topicmapid="opera.ltm" />
    <!-- autoload topicmapid="xmltools-tm.xtm" /-->
  </autoloads>
]]></literallayout>
</example>

<para>
The topic map IDs used here are the file names of the topic maps,
including the suffix. The special ID <literal>~all</literal> can be
used to make the system automatically load all topic maps it finds.
(Note that this can cause slow startups, and if you have too many
large topic maps it may cause the server to run out of memory during
startup.)
</para>
</section>

<section>
<title>Model/View/Skin</title>

<para>
With this section you can control what models, views, and skins are to
be made available to users (including ones that you develop yourself),
and you can also set the default model, view, and skin. The
<symbol>model</symbol>, <symbol>view</symbol>, and
<symbol>skin</symbol> elements in the <symbol>mvs</symbol> element
each make available a model, a view, or a skin on the customize page.
They can have the following attributes:
</para>

<variablelist>
<varlistentry>
<term>name</term>
<listitem>
<para>The ID of the model, view, or skin, used in the file names
and also as a general identifier for the model/view/skin.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>title</term>
<listitem>
<para>The title to be displayed to the user.</para>
</listitem>
</varlistentry>
<varlistentry>
<term>default</term>
<listitem>
<para>If set to <literal>yes</literal> it makes this model/view/skin the
default.</para>
</listitem>
</varlistentry>
</variablelist>
</section>

<section>
<title>Properties</title>

<para>
In this section one can set a number of configuration options that
control how the Navigator Framework behaves. These options are all simple named
string values. The ones currently in use are:
</para>

<variablelist>
<varlistentry>
<term>defaultCharacterEncoding</term>
<listitem>
<para>
This property controls the character encoding in which the Navigator
Framework writes all its output. The default value is 'utf-8'. If you
get problems with international characters you most likely need to
change this value to the name of your national character encoding.
If you have problems with this, please contact
<email>support@ontopia.net</email>.
</para>
</listitem>
</varlistentry>

<varlistentry>
<term>defaultContentType</term>
<listitem>
<para>
This property controls the HTTP content type which the Navigator
Framework declares on its output pages via the
<symbol>framework:response</symbol> tag. The default value is
'text/html', and as long as you are only making ordinary web
applications you do not need to change it. If you want to make web
applications which output WML or XML you should change this property
to make sure that user agents treat the output correctly.
</para>
</listitem>
</varlistentry>

<varlistentry>
<term>allowLoadOnRequest</term>
<listitem>
<para>Controls whether topic maps are autoloaded when requested or
not. If this property is set to <symbol>true</symbol> topic maps that
have not previously been loaded through the manage page will be loaded
automatically when someone tries to access them.</para>
<para>This differs from the autoload section in that topic maps listed
there will be loaded when the server starts, before anyone has
requested them. If this option is on, any topic maps that have not been
loaded but which are requested by a user will be loaded
automatically. If this option is turned off the topic maps in the
autoloads section will still be loaded on startup.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>pluginsOrder_foo</term>
<listitem>
<para>This property defines the order of the plug-ins in a particular
group (the group being the ID appearing after the underscore in the
property name). The value is a whitespace-separated list of plug-in
IDs.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>nameStringNonExistent</term>
<listitem>
<para>This is the string displayed by <symbol>output:name</symbol>
for topics which have no basenames.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>nameStringNullValue</term>
<listitem>
<para>This is the string displayed by <symbol>output:name</symbol> when
the most appropriate name of a topic has the value <literal
>null</literal>.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>nameStringEmptyValue</term>
<listitem>
<para>This is the string displayed by <symbol>output:name</symbol>
when the most appropriate name of a topic has an empty string as its
value.</para>
</listitem>
</varlistentry>
</variablelist>

<section>
<title>Obsolete properties</title>

<warning>
<para>
There are also some properties used by the old Navigator Framework tag
libraries that are now deprecated. These are listed below, but note
that these apply only to tags that are deprecated.
</para>
</warning>

<variablelist>
<varlistentry>
<term>maxListLength</term>
<listitem>
<para>The <symbol>logic:foreach</symbol> tag stops after the number
of iterations set here (default 500) in order to keep the framework
from producing near-endless lists. By changing this value you can
change the cutoff point.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>checkForChangedModules</term>
<listitem>
<para>If set to <symbol>true</symbol> the
<symbol>logic:include</symbol> tag will check if the referenced module
file has been updated since the last time the tag was executed every
time it is executed. If it has changed the module will be reloaded.
If set to <symbol>false</symbol> the module will be loaded on startup,
but never again. The default is <symbol>false</symbol>.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>occurrenceEmptyValue</term>
<listitem>
<para>This is the string displayed by <symbol>output:content</symbol>
for occurrences whose value is an empty string.</para>
</listitem>
</varlistentry>

<varlistentry>
<term>occurrenceNullValue</term>
<listitem>
<para>This is the string displayed by <symbol>output:content</symbol>
for occurrences whose value is <literal moreinfo="none">null</literal>.</para>
</listitem>
</varlistentry>
</variablelist>
</section>
</section>

<section>
<title>Class shortnames</title>

<para>
In several places in the tag libraries classes are referred to. Often
the same classes have to be referred to in many different places, and
it can quickly get tedious to repeat the same long classnames many
times throughout the source code. To help solve this problem we've
added a section to the <filename>application.xml</filename> file called
the classmap. Using this shortnames for classes can be defined, and
classes can then be referred to in the JSP pages using these shortnames.
Below is shown an example of a minimal classmap section, which should
show how it is used.
</para>

<example>
<title></title>

<literallayout><![CDATA[
  <classmap>

    <class shortcut="topicComparator"
           fullname="net.ontopia.topicmaps.nav.utils.comparators.TopicComparator"/>

  </classmap>
]]></literallayout>
</example>
</section>
</section>
</article>
