## Template used by net.ontopia.topicmaps.webed.taglibs.form.ButtonTag
## -----------------------------------------------------------------------
#if (!$readonly)
  #if ($type == "image")
    <input type="image" name="${name}" #condAttribute("id" ${id}) src="${src}" #condAttribute("width" ${width}) #condAttribute("height" ${height}) #condAttribute("border" ${border}) #condAttribute("align" ${align}) #condAttribute("title" ${title}) #condAttribute("class" ${class}) />
  #elseif ($type == "submit")
    <input type="submit" name="${name}" #condAttribute("id" ${id}) #condAttribute("value" ${value}) #condAttribute("class" ${class}) />
  #elseif ($type == "reset")
    <input type="reset" #condAttribute("id" ${id}) #condAttribute("value" ${value}) #condAttribute("class" ${class}) />
  #else
    UNKNOWN BUTTON TYPE ($type)
  #end
#end