## Template used by net.ontopia.topicmaps.webed.taglibs.form.FormTag
## -----------------------------------------------------------------------

#if ( ! $nested )
<form name="$name" #condAttribute("onsubmit" "$onsubmit") method="POST" action="$action" id="$idattr" #condAttribute("target" $target) #condAttribute("class" $class) #condAttribute("enctype" $enctype)>
#end
#condHiddenField("tm" $tm)
#condHiddenField("id" $id)
#condHiddenField("assoc_id" $assoc_id)
#condHiddenField("ag" $ag)
#condHiddenField("lock_var" $lock_var)
#condHiddenField("requestid" $requestid)
  <input type="hidden" name="linkforward" 
    id="linkforward${requestid}" />

  $content
  
#condHiddenField($invoke_field $invoke_list)

#if ( $focus_elem )
  <script language="JavaScript" type="text/javascript">
    <!--
      document.forms["${name}"].elements["${focus_elem}"]${focus_ref}.focus();
    // -->
  </script>
#end

  #if ($performFieldValidation)
    <script language="JavaScript">
      ## Store fieldIds and fieldValidations.
      
      var fieldNames = new Array();
      var fieldValidations = new Array();
      var runValidation = true;

    #foreach ($rule in $validationRules) 

      fieldNames.push('${rule.fieldName}');
      fieldValidations.push('${rule.escapedPattern}');
 
    #end

    ## Validate the fields on the form with id 'formId'.
    function validate (formId) {
      if (!runValidation)
        return true;

      ## Validate each field.
      for (i = 0; i < fieldNames.length; i++) {
        ## Get the value of the current field.
        var field = document.getElementsByName(fieldNames[i])[0];
        var value = field.value;

        // Test if the field has been set to it's pattern value. If so,
        // set it to be empty.
        var pattern = document.getElementsByName(fieldNames[i] + "-pattern");
        if (pattern != null) {
          var pattern0 = pattern[0];
          if (pattern[0] != null && pattern0.value == value) {
            field.value = "";
            value = field.value;
          }
        }


        ## Validate current field.
        if (!(checkMatches(value, fieldValidations[i]) || 
              confirm('Error: the value "' + value + '" did not pass field validation ! Proceed anyway?'))) {
          document.getElementsByName(fieldNames[i])[0].focus();
          document.getElementsByName(fieldNames[i])[0].select();
          return false;
        }
      }
      return true;
    }
      
    function checkMatches(value, regex) {
      var re = new RegExp(regex);
      var matches = re.exec(value);
      return (matches != null && matches.length > 0 && matches[0] == value);
    }

    </script>
  #end

#if ($outputSubmitFunc)
  <script language="JavaScript">
   
    function submitFunc (rid, actionname, href, target, reload) {
      var form = document.getElementById(rid);
      if (form == null) form = document.forms[0]; // hack to allow instanceEmbedded.jsp
      var onsubmit = (form.onsubmit == null ? undefined : form.onsubmit());
      if (onsubmit == undefined || onsubmit == true) {
        document.getElementById("linkforward" + rid).value = href;
        if (actionname != null && actionname != "")
          document.getElementById(actionname).value = "x";
        if (target != null && target != "") {
          form.target = target;
          form.submit();
          if (reload)
            setTimeout("window.location.reload(true);",3000);
        } else {
          form.submit();
        }
      }
    }
    
  </script>
#end

#if ( ! $nested )
</form>
#end
