## -----------------------------------------------------------------------
#macro (condAttribute $name $value)
#if ( $value )
${name}="${value}"#end#end
## -----------------------------------------------------------------------
#macro (condHiddenField $name $value)
#if ( $value )
  <input type="hidden" name="${name}" value="${value}" />
#end#end
## -----------------------------------------------------------------------

