<wicket:panel>
  <div class="fieldsEditorHeader">
    <b><wicket:message key="FieldsEditor.fields"/>:</b>
    <span wicket:id="actions">
    <a wicket:id="names"><wicket:message key="FieldsEditor.typelink.names"/></a> 
    <a wicket:id="create-name-field"><img wicket:id="image" /></a> 
    <a class="delimiter" wicket:id="occurrences"><wicket:message key="FieldsEditor.typelink.occurrences"/></a> 
    <a wicket:id="create-occurrence-field"><img wicket:id="image" /></a> 
    <a class="delimiter" wicket:id="associations"><wicket:message key="FieldsEditor.typelink.associations"/></a> 
    <a wicket:id="create-role-field"><img wicket:id="image" /></a>
    <a class="delimiter" wicket:id="identities"><wicket:message key="FieldsEditor.typelink.identities"/></a>
    <a class="delimiter" wicket:id="queries"><wicket:message key="FieldsEditor.typelink.queries"/></a> 
    <a wicket:id="create-query-field"><img wicket:id="image" /></a> 
    </span>
  </div>
  <table class="fieldsEditorExistingTable">
    <!--tr><th>&nbsp;</th><th>Field</th><th>Value type</th><th>Cardinality</th><th>&nbsp;</th></tr-->
    <div wicket:id="existingFields">
      <div wicket:id="field"/>
    </div>
  </table>
  <table class="fieldsEditorAddTable">
    <!--tr><th>&nbsp;</th><th>Field</th><th>Value type</th><th>Cardinality</th><th>&nbsp;</th></tr-->
      <tr wicket:id="addFields"><span wicket:id="field"/></tr>
  </table>
</wicket:panel>		
