<wicket:panel>
<div id="footer">
  <table width="100%" cellpadding="0" cellspacing="0" id="footerTable">
    <tr>
      <td>
        <wicket:message key="version" /> <span wicket:id="version" />        
        <wicket:message key="copyright" />
        <a href="http://www.ontopia.net/"><wicket:message key="ontopia.as" /></a><wicket:message key="dot" />
      </td>
      <td align="right"><wicket:message key="ontopoly.comma" />
        <a href="http://www.ontopia.net/"><wicket:message key="ontopia" /></a><wicket:message key="topic.maps.editor.text" />
        <a href="http://www.ontopia.net/"><wicket:message key="oks" /></a><wicket:message key="dot" />
      </td>        
    </tr>
  </table>
</div>
</wicket:panel>
