<wicket:panel>
<div id="topRightMenuContainer">			 
	<div id="topRightMenu">
	  <span wicket:id="userPanel"></span>
		<a href="/" title="Go to application home page."><wicket:message key="HeaderPanel.home" /></a>&nbsp;|
		<a href="/manage/manage.jsp" title="Refresh sources, reload settings, manage plug-ins, create indexes, etc."><wicket:message key="HeaderPanel.manage" /></a>&nbsp;|
		<a href="http://www.ontopia.net/" title="Ontopia web site."><wicket:message key="HeaderPanel.website" /></a>&nbsp;|
		<a href="http://groups.google.com/group/ontopia" title="Mailing list."><wicket:message key="HeaderPanel.support" /></a>&nbsp;|
		<a href="/about.jsp" title="About page."><wicket:message key="HeaderPanel.about" /></a>&nbsp;
	</div>			
	<img id="#topmenuimg" src="resources/ontopoly.images.ImageResource/topmenubgcorner.gif" />
	<div class="clear" ></div> <!-- need to close it like this, instead of in the start tag -->
</div>
	
<wicket:child />		
</wicket:panel>
