
/* GENERAL DECLARATIONS */

body {
  background-image: url('../images/themap.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 55% 7%; 
  font-family: Arial, Verdana, sans-serif;
  font-size: 10pt;
  width: 900px;
  margin: 0px auto;
  padding-bottom: 40px;
}

a {
  color: 347a12;
  text-decoration: none;
}

img {
  border: none;
}

div.ider {
  margin-top: 2pt;
  margin-bottom: 2pt;
  border-top: white 1.5pt solid;
}

/* TOP BOX */

#topbox {
  background-color: 5f5f5f;
  color: white;
  text-align: right;
  font-size: 10pt;
  font-weight: bold;
  padding: 6pt;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}

#searchbox {
  margin-bottom: 6pt;
}

span.item a {
  color: white;
}

span.item#itemselected a {
  color: 7ae633;
}

span.item a:hover {
  color: 7ae633;
  text-decoration: underline;
}

#menu .sep {
  margin-left: 6pt;
  margin-right: 6pt;
  color: 848484;
}

.children {
  margin-left: 6pt;
}

.children .ider {
  border-top: white 1pt solid;
}

/* BREADCRUMB TRAIL */

.home {
  font-size: 12pt;
  margin-top: 24pt;
}

.breadcrumbs {
  font-size: 18pt;
  font-weight: bold;
}

.breadcrumbs a {
  color: 347a12;
}

/* CONTENT BOX */

.contentbox {
  width: 100%;
  background-color: eaeaea;
  padding: 8pt;
  margin-top: 12pt;
  background-image: url("../images/circles-large.jpg");
  background-repeat: no-repeat;
  background-position: bottom; 
}

.menu {
  vertical-align: top;
  width: 20%;
  font-size: 10pt;
}

.menu a {
  color: black;  
}

.menu p a.selected {
  color: #347a12;
  font-size: 13pt;
  font-weight: bold;
}

.menu p a.topselected {
  color: black;
  font-size: 13pt;
  font-weight: bold;
}

.menu p {
  margin-top: 0pt;
  margin-bottom: 0pt;
}

td.main, .main td {
  vertical-align: top;
  font-size: 10pt;
  padding-bottom: 48pt;
}

.contentbox td.main {
  padding-left: 12pt;
}

td.column {
  width: 50%;
}

td.column p {
  margin-top: 12pt;
}

#selected {
  border-top: 1.5pt #78a262 solid;
}

.children #selected {
  border-top: 1pt #78a262 solid;
}

#bottom-spacer {
  height: 100px;
}

table.ordinary td {
  padding-bottom: 12pt;
}

/* FRONT PAGE SPECIFIC */

#biglogo {
  margin: 12pt;
}

#top_section {
  padding-bottom: 8px;
}

#top_section_left {
  float: left;
  width: 60%;
  padding: 10px;		
}

#frontpage_ingress {
  font-size: 16pt;
  color: gray;
}

#top_section_right {
  float:left;
}

#abouttext {
  color: 828282;
  font-size: 16pt;
}

#bloghead {
  font-size: 10pt;
  background-color: e8e8e7;
  width: 10%;
  margin-bottom: 0pt;
  padding: 6pt;
  text-align: center;  
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-radius: 10px 10px 0 0;
    
  -webkit-box-shadow: 5px 5px 5px #AAA;
  -moz-box-shadow: 5px 5px 5px #AAA;
  box-shadow: 5px 5px 5px #AAA;
}

#bottombox td.normal {
  vertical-align: top;
  background-color: e8e8e7;
  width: 31%;
}

#blog, .normal {
  margin-right: 12pt;
  padding: 6pt;
}

#blog {
  -moz-border-radius: 0 10px 10px 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 10px 10px 10px;
  -webkit-box-shadow: 5px 5px 5px #AAA;
  -moz-box-shadow: 5px 5px 5px #AAA;
  box-shadow: 5px 5px 5px #AAA;
  background-image: url("../images/circles-small.jpg");
  background-repeat: no-repeat;
  background-position: bottom; 
}

#leftcol {
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: 5px 5px 5px #AAA;
  -moz-box-shadow: 5px 5px 5px #AAA;
  box-shadow: 5px 5px 5px #AAA;
}

#rightcol {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 5px 5px 5px #AAA;
  -moz-box-shadow: 5px 5px 5px #AAA;
  box-shadow: 5px 5px 5px #AAA;
}

#success {
  background-color: white;
  text-align: center;
  padding: 6pt;
}

#success p {
  margin-top: 0pt;
  margin-bottom: 0pt;
}

#bottombox {
  font-size: 10pt;
  height: 550px;
}

#spacer {
  width: 7%;
}

/* SEcTION PAGES */

#blog p {
  margin-bottom: 6pt;
}

p.byline {
  margin-top: 0pt;
}

.byline {
  color: gray;
}

.logobox {
  background-color: white;
  padding: 12pt;
  text-align: center;
}