
/*
   Default stylesheet for Ontopia whitepapers, articles and documentation.
 */

body {
  background-color: #fff;
  color: #000;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 36pt;
  margin-bottom: 36pt;
  background-color: white;
  color: black;
}

h1 {
  background-color: #006e7d;
  color: #fff;
  font-weight: normal;
  padding: 8pt;
  padding-top: 12pt;
  margin-bottom: 0pt;
  font-size: 200%;
}

h2.subtitle {
  background-color: #003344;
  font-weight: normal;
  color: #137;
  margin-top: 0pt;
  color: #acc;
  padding: 4pt;
  padding-left: 36pt;
  font-size: 140%;
}

h1, h2, h3, h4, h5, th {
  font-family: Verdana, Arial, sans-serif;
}

h2, h3, h4, h5 {
  color: #006e7d;
}

h2 {
  margin-top: 48pt;
  font-size: 180%;
}

h3 {
  margin-top: 36pt;
  font-size: 140%;
}

dt {
  margin-top: 12pt;
  font-weight: bold;
}

th {
  text-align: left;
  vertical-align: top;
}

td {
  vertical-align: top;
  empty-cells: show;
}

tt {
  color: #2F00C0;
}


.remark {
  color: red;
}

code, pre {
  background-color: #EEE;
}

a:link {
  color: #006e7d;
}

a:visited {
  color: #034;
}

dd p {
  margin-top: 0pt;
}

.warning {
  color: red;
}

.ireq {
  color: #034;
}

td {
  vertical-align: top;
}

/*
   Customize table layout
 */

.dbTable {
}

.dbTableHeaderRow {
  background-color: #EEE;
}

.dbTableHeaderEntry {
}

.dbTableRow {
}

.dbTableEntry {
}

/* added to make xmlspec documents work */
div.issue, div.note, div.notice {
  margin-left: 2em;
}

table.scrap, table.scrap code {
  background-color: #8F8;
}

table.scrap, table.eg { 
  border: solid thin #800;
}

/* make it look nicer when printed */
@media print {
  h1 {
    background-color: white;
    color: black;
  }

  h2.subtitle {
    color: black;
  }
   
  a {
    text-decoration: none;
  }
}
