## $Id: link.vm,v 1.7 2006/06/30 08:10:27 grove Exp $
## Template used by net.ontopia.topicmaps.webed.taglibs.form.LinkTag
## -----------------------------------------------------------------------
#if ($readonly)
  <a href="${href}" #condAttribute("target" ${target}) #condAttribute("title" ${title}) #condAttribute("id" ${id}) #condAttribute("class" ${class})>${content}</a>
#else
  #if ($name != "")
    <input type="hidden" id="${name}" name="${name}" value=""/>
  #end 
  #if ($submit)
  <a href="javascript:submitFunc('${rid}', '${name}', '${href}', '${target}', ${reload})" #condAttribute("title" ${title}) #condAttribute("id" ${id}) #condAttribute("class" ${class})>${content}</a>
  #else
  <a href="${href}" #condAttribute("target" ${target}) #condAttribute("title" ${title}) #condAttribute("id" ${id}) #condAttribute("class" ${class})>${content}</a>
  #end
#end