## Template used by net.ontopia.topicmaps.webed.taglibs.form.ListTag
## -----------------------------------------------------------------------
#if ($readonly)
  <div #condAttribute("id" ${id}) #condAttribute("class" ${class})>
  #foreach ($obj in $elements)
    #if ($obj.selected)
      ${obj.name}<br>
    #end
  #end
  </div>
#else
  #macro (listDimension $type)
  #if ($type == "scrolling")
  size="8"#end
  #if ($type == "multiselect")
  size="8" multiple="multiple"#end#end
  #macro (selected $obj)
  #if ($obj.selected)
  selected="selected"#end#end
  #macro (checked $obj)
  #if ($obj.selected)
  checked="checked"#end#end
  #macro (width $elements)
  #if ($elements.isEmpty() && !$unspecified)
  style="width: 10em"#end#end
  #if ($type == "radio")
  ## -- RADIO BUTTONS ------------------------------------------------------
  <div #condAttribute("id" ${id}) #condAttribute("class" ${class})>
  #foreach ($obj in $elements)
    <input type=radio name="${name}" value="${obj.id}" #checked(${obj})>${obj.name}<br>
  #end
  </div>
  #elseif ($type == "checkbox")
  ## -- CHECKBOX LIST ------------------------------------------------------
  <div #condAttribute("id" ${id}) #condAttribute("class" ${class})>
  #foreach ($obj in $elements)
    <input type=checkbox name="${name}" value="${obj.id}" #checked(${obj})>${obj.name}<br>
  #end
  </div>
  #else
  ## -- SELECTION LIST -----------------------------------------------------
  <select name="${name}" #condAttribute("id" ${id}) #condAttribute("class" ${class}) #listDimension(${type}) #width(${elements})>
    #if ($unspecified)
    <option value="-1">-- ${unspecified} --</option>#end
    #foreach ($obj in $elements)
    <option value="${obj.id}" #selected(${obj})>${obj.name}</option>
    #end
  </select>#end
#end