<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">

  <display-name>SDshare push server</display-name>
  <description>
    SDshare push server for receiving changes from other SDshare clients.
  </description>

  <servlet>
    <servlet-name>Push</servlet-name>
    <servlet-class>
      net.ontopia.topicmaps.utils.sdshare.push.ReceivePushServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Push</servlet-name>
    <url-pattern>/push/*</url-pattern>
  </servlet-mapping>
  
</web-app>
