<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app
          PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
          "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app> 

  <display-name>Ontopia.net</display-name>
  <description>The Ontopia.net home page</description>

  <!-- General web application initialization parameters 

  <context-param>
    <param-name>app_config</param-name>
    <param-value>WEB-INF/config/application.xml</param-value>
    <description>
      Tells the navigator framework where to find the
      application configuration file.
    </description>
  </context-param>

  <context-param>
    <param-name>plugins_rootdir</param-name>
    <param-value>plugins</param-value>
    <description>
      Tells the navigator framework where to start looking for the
      plugin configuration files.
    </description>
  </context-param-->

  <!-- Session parameters for this web application -->
  <session-config>
    <session-timeout>30</session-timeout>    
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Mappings between exeception types and error pages -->
  
</web-app>
